/* .App {
text-align: center;
} */

.item1{grid-area: a;
height: 2em;}
.item2{grid-area: b;}
.item3{grid-area: c;}
.item5{grid-area: d;}

.layout {
  display: grid;
  /* height: 95vh; */
  grid-template-areas: 
  'a a a a a'
  'b c c c c'
  'd d d d d';
  gap: 10px;
  padding: 10px;
}

.layout>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 2px dotted;
}

nav {
  display: flex;
  justify-content: space-evenly;
}