/* .App {

} */

/* ---- Layout (Grid) ---- */

.lay-header { grid-area: a; }

.lay-sidebar {
  width: 200px;
  grid-area: b;
  margin-left: 10px;
  /* display: flex;
  align-items: center; */
  background: rgb(240,248,255);
  background: radial-gradient(circle, rgba(240,248,255,1) 38%, rgba(240,248,255,0.8) 78%, rgba(240,248,255,0.5) 100%);
  z-index: 1;
  /* border: solid 5px aliceblue; */
  border: 1px solid;
  border-radius: 5px;
  height: 441px;
}

.lay-main {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lay-space { grid-area: d;}
.lay-footer { grid-area: e; }

.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 
  'a a a a a'
  'b c c c c'
  'd d d d d'
  'e e e e e';
  gap: 10px;
}

/* ---- Affecting all Layout Divs (Might want to re-evaluate this ---- */

.layout>div {
  text-align: center;
  padding: 20px ;
  /* border: 2px dotted; */
}

/* ---- Header (Nav) Background ---- */

/* .header{
  margin: 20px;
} */

.headerbg{
  position: absolute;
  /* min-width: 150px; */
  left:15rem;
  right:15rem;
  height: 1.2rem;
  background-color: rgba(240, 248, 255, 0.784);
  box-shadow: 0px 5px 5px 5px aliceblue inset, 0px 0px 0px 5px aliceblue;
  /* border: solid 5px aliceblue; */
  border-top: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: -1;

 }


/* ---- Nav ---- */

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

nav a{
  text-decoration: none;
  transition: .5s;
  font-family: 'DynaPuff', cursive;
  color: #3C608F;
  text-shadow: 3px 2px 2px aliceblue;
  font-size: 22px;
  font-weight: 500;
  /* padding: 20px ; */

}

nav a:hover{
  background-color: aliceblue;
  box-shadow: 0px -35px 10px 49px aliceblue;
  transform: scale(1.1);
  /* outline: 16px solid aliceblue;
  outline-style: dashed;
  transition: .5s; */
  transition: .2s ease-out;
}

/* nav a:visited{
  color: #551A8B
} */




/* ---- Media Queries ---- */

@media screen and (max-width:988px) {

  .headerbg{
    position: absolute;
    min-width: 150px;
    left:10rem;
    right:10rem;
    height: 2rem;
    background-color: rgba(240, 248, 255, 0.784);
   }
}

@media screen and (max-width:768px) {
  .layout {
    grid-template-areas: 
    'a a a a a'
    'b b b b b'
    'c c c c c'
    'd d d d d'
    'e e e e e';
    }
    .lay-sidebar p{
      display: inline;
    }
    .lay-sidebar{
      display: flex;
      justify-content: center;
      justify-self: center;
 
    }
    .headerbg{
      position: absolute;
      min-width: 150px;
      left:5rem;
      right:5rem;
      height: 2rem;
      background-color: rgba(240, 248, 255, 0.784);
     }
}

@media screen and (max-width:576px) {
  .layout {
    grid-template-areas: 
    'a a a a a'
    'b b b b b'
    'c c c c c'
    'd d d d d'
    'e e e e e';
    }
    .lay-sidebar p{
      display: inline;
    }
    .headerbg{
      position: absolute;
      min-width: 150px;
      left:0;
      right:0;
      height: 2rem;
      background-color: rgba(240, 248, 255, 0.784);
     }
}


/* ---- Entire ZooAnimal class ---- */

.zoo{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.zoo h1{
  font-family: 'DynaPuff', cursive;
  font-size: 35px;
  font-weight: 500;
  line-height: 30px;
  text-shadow: 1px 1px 4px aliceblue;
}

.zoo h4{
  font-family: 'Oswald', sans-serif;

  font-weight: normal;
  font-size: 22px;
  /* margin-top: 0; */
  line-height: 0;
  text-shadow: 0px 1px 7px aliceblue;
}

/* ---- Just the Animal subtext ---- */

.animal-type{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'DynaPuff', cursive;
  font-size:24px;
  font-style: normal;
  text-shadow: 1px 1px 5px aliceblue;
}

.animal-descr{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Oswald', sans-serif;
  
}

.animal-descr p{
  font-size: 20px;
  line-height:17px;
  font-weight: 400;
  text-shadow: 1px 1px 25px aliceblue;
}




.animal-descr h2{
  display: flex;
  justify-content: end;
  align-items: center;
  background: rgb(240,248,255);
  background: linear-gradient(90deg, rgba(240,248,255,0.2) 0%, rgba(240,248,255,1) 80%);
  border-radius: 5px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 8em;
  height: 2em;
  font-size: 25px;
  cursor: pointer;
  margin: 0;
  margin-top: 10px;

}

span{
  font-weight: 200;
  font-style: italic;
  font-size: 22px;
  text-shadow: 1px 1px 5px aliceblue;
}

/* ---- Animal Image, Names ---- */

.animal-header img{
  max-height: 330px;
  min-width: 250px;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: double 5px aliceblue ;
  outline-offset: -5px;
}



/* .animal-header{
margin-top: 30px;
} */


/* ---- Divider for breathing room ---- */
.animal-divider{
  width: 100px;
}


/* ---- Home ---- */

.home h1{
  font-size: 77px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 3px aliceblue;
}

/* ---- About ---- */

.about p{
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

/* ---- Possible Background Change Between Pages ---- */

/* .about-bg{
  background-image: url(Images/bg2.png);
  transition: background-image .5s ease-in-out;
} */


/* ---- Sidebar (Posts) ---- */

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h1{
  font-family: 'DynaPuff', cursive;
}

 .sidebar-posts p{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-size:20px;
   margin: 5px;
   z-index: -1;
   font-weight: 200;
 }

 .sidebar-posts a{
   display: flex;
   font-family: 'Oswald', sans-serif;
}

.side-posts-height{
  height: 370px;
  overflow: hidden;
}

.by{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.go-to-posts{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
  font-family: 'DynaPuff', cursive;
  font-size: 24px;
  text-shadow: 1px 1px 2px;
  border-radius: 5px;
  background: rgb(240,248,255);
  background: linear-gradient(180deg, rgba(240,248,255,0.3) 0%,rgba(240,248,255,0.7) 10%, rgba(240,248,255,1) 40%);
  height: 75px;
  width: 240px ;
}

.go-to-posts a{
  text-decoration: none;
  font-family: 'DynaPuff', cursive;
  color: #3C608F;
  
}

/* ---- Footer ---- */

.footer{
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 0;
}


.edit-post p{
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.create-post p{
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.post{
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.post a{
text-decoration: none;
font-weight: 300;
}

.post h1{

  font-family: 'DynaPuff', cursive;
  font-weight: 400;
  font-size: 55px;
}

.trash{
  height: 40px;
  cursor: pointer;
  padding: 10px;
  filter: drop-shadow(0px 0px 1px aliceblue);
  transition: .1s;
}

.edit{
  height: 37.5px;
  cursor: pointer;
  padding: 10px;
  filter: drop-shadow(0px 0px 1px aliceblue);
  transition: .1s;
}

.trash:hover, .edit:hover{
  filter: drop-shadow(0px 0px 7px aliceblue);
  transition: .3;
}

.all-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.all-posts h1{
  font-family: 'DynaPuff', cursive;
  font-size:52px;
  font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

.new-post{
  background-color: aliceblue;
  border-radius: 5px;
  width: 10em;
  margin-bottom: 25px;
}

.new-post a{
  text-decoration: none;
  font-size: 8px;
  
}

.all-posts p{
  font-size: 17px
}

.posts{
  align-self: center;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid;
  border-radius: 5px;
  width: 35em;
  margin-bottom: 15px;
  background: rgb(240,248,255);
  background: radial-gradient(circle, rgba(240,248,255,1) 28%, rgba(240,248,255,0.8) 58%, rgba(240,248,255,0.5) 100%);
}



form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-buttons{
  margin-top: 15px;
}

.post-form-buttons button{
  margin: 5px;
  font-size: 20px;
}

input{
  margin: 5px;
  width: fit-content;
  height: 1.5em;
  font-size: 25px;
}